html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0 auto;
    color: black;
    background-image: url("img/background.jpg");
}

p{
    color: white;
}

h2{
    color: white;
}

.light_container{
    width: 800px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
}

.account_container{
    color: white;
    width: 350px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
}

.account_container h3{
    color: white;
    text-align: center;
}

.content{
    margin: 0 auto;
    max-width: 800px;
}

.content h2{
    text-align: center;
}

.header h1{
    font-size: 60px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0.1em;
    text-align: center;
    color: white;
    padding-top: 20px;

}

.header h2{
    font-size: 40px;
    -webkit-margin-before: 0;
    text-align: center;
    color: white;
}

.login{
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 15px;
    float: left;
}

.login p, h3{
    color: #222222;
}

.register{
    margin-top: 10px;
    margin-right: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 15px;
    float: right;
}

.register p, h3{
    color: #222222;
}

.navi{
	text-align: center;
	background: #333;
	height: 50px;
	padding-top: 30px;	
	color: white;
    margin-bottom: 20px;
}

.navi a{
	color: white;
	text-decoration: none;
	padding-right: 20px;
}

.navi_main{
	vertical-align: middle;
}

.navi_login{
	position: absolute;
	right: 30px;
	top: 125px;
}

.manageContainer{
    color: white;
    margin: 0 auto;
    overflow: auto;
    width: 90%;
    min-width: 1000px;
    height: 600px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 5px;
}

.bridgeContainer{
    width: 38%;
    min-height: 70%;
    border: 1px solid #000;
    padding: 5px;
    float: left;
    margin: 2px;
}

.lightsContainer{
    width: 58%;
    height: 70%;
    border: 1px solid #000;
    padding: 5px;
    float: right;
    margin: 2px;
}

.sLight{
    margin: 2px;
    padding: 5px;
}

.lightPage{
    width:800px;
    margin: 0 auto;
}

.bridgeedit{
    color: white;
    width: 450px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
}

.bridgeedit h3{
    color: white;
    text-align: center;
}

.schedules{
    color: white;
    width: 600px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
}